#!/bin/bash

#SBATCH -p MAIN
#SBATCH --job-name=LMPyy
#SBATCH -n1 -N1
##SBATCH --mail-type=FAIL # Receive an email if your job fails

echo $SLURM_NTASKS > nodes.info
srun hostname >> nodes.info
echo $USER >> nodes.info
pwd >> nodes.info

cd $SLURM_SUBMIT_DIR/
echo $SLURM_NTASKS > nodes.info     
srun hostname >> nodes.info  
echo $USER >> nodes.info 
pwd >> nodes.info 
module purge # unload all modules from user's environment.
module load gcc/7.5.0
module load mpi/openmpi/gnu7/4.1.0
